/* Sub-header Zones B1 + B2 (Y: 346-498) */

/* ===== B1: PANCHANGAM CREDIT BAR ===== */
.zone-b1 {
    position: absolute;
    left: 0;
    top: 346px;
    width: 924px;
    height: 29px;
    background: #D2E6D7;
}

.b1-top-border {
    position: absolute;
    left: 0;
    top: 2px;
    width: 924px;
    height: 1px;
    background: #718274;
}

.b1-text {
    position: absolute;
    left: 60px;
    top: 9px;
    width: 810px;
    font-size: 7pt;
    color: #A84B80;
    text-align: center;
    line-height: 1.2;
}

/* ===== B2: SUB-HEADER FRAME ===== */
.zone-b2 {
    position: absolute;
    left: 0;
    top: 375px;
    width: 924px;
    height: 124px;
}

/* B2 Frame borders */
.b2-top-border {
    position: absolute;
    left: 0;
    top: 3px;
    width: 924px;
    height: 2px;
    background: #282D26;
}

.b2-bottom-border {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 924px;
    height: 3px;
    background: #3C3C3C;
}

/* ===== B2-LEFT: Telugu Year + Sunrise/Sunset ===== */
.b2-left {
    position: absolute;
    left: 0;  /* relative to content area X=42 */
    top: 5px;
    width: 267px;
    height: 116px;
    background: #F8B9A0;
}

/* Area 1: Year/Masam text */
.b2-left-year-masam {
    position: absolute;
    left: 13px;
    top: 4px;
    width: 248px;
}

.b2-left-line1 {
    font-size: 7pt;
    color: #50281E;
    line-height: 1.3;
}

.b2-left-line2 {
    margin-top: 8px;
    font-size: 7pt;
    color: #50281E;
    line-height: 1.3;
}

/* Divider */
.b2-left-divider {
    position: absolute;
    left: 13px;
    top: 39px;
    width: 241px;
    height: 3px;
    background: #5F3E34;
}

/* Area 2: Sunrise/Sunset table */
.b2-left-table {
    position: absolute;
    left: 13px;
    top: 45px;
    width: 248px;
}

.b2-left-table-header {
    font-size: 5.5pt;
    color: #554B53;
    text-align: left;
    margin-bottom: 7px;
}

.b2-left-table-row {
    font-size: 5pt;
    color: #554B53;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.b2-left-panchangam {
    position: absolute;
    right: 5px;
    top: 56px;
    width: 128px;
    font-size: 5pt;
    color: #5A5058;
    line-height: 1.4;
}

/* ===== B2-CENTER: Year + Month Name ===== */
.b2-center {
    position: absolute;
    left: 271px;  /* 309px page - 42px content offset + 4px */
    top: 5px;
    width: 301px;
    height: 116px;
    background: #720F62;
}

.b2-center-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

/* Left half: Year */
.b2-center-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.b2-year {
    font-size: 46pt;
    font-weight: 700;
    color: #FAF6FA;
    line-height: 1;
}

/* Right half: Month names */
.b2-center-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.b2-month-telugu {
    font-size: 30pt;
    font-weight: 700;
    color: #FAE928;
    line-height: 1.1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.b2-month-dots {
    margin: 3px 0;
    font-size: 12pt;
    color: #FAE928;
    text-align: center;
}

.b2-month-english {
    font-size: 18pt;
    font-weight: 700;
    color: #FAEBFA;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

/* ===== B2-RIGHT: Gulika Kalam Table ===== */
.b2-right {
    position: absolute;
    left: 574px;  /* 616px page - 42px content offset */
    top: 5px;
    width: 251px;
    height: 116px;
    background: #D2E6C8;
}

.b2-right-title-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 16px;
    background: #D2F0D2;
}

.b2-right-title {
    position: absolute;
    left: 89px;
    top: 1px;
    width: 79px;
    font-size: 7pt;
    font-weight: 700;
    color: #BE5050;
    text-align: center;
}

.b2-right-table {
    position: absolute;
    left: 6px;
    top: 16px;
    width: 239px;
}

.b2-right-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    font-size: 6pt;
    color: #506955;
}

.b2-right-weekday {
    flex: 0 0 78px;
}

.b2-right-start {
    flex: 0 0 65px;
    text-align: center;
}

.b2-right-marker {
    flex: 0 0 20px;
    text-align: center;
}

.b2-right-end {
    flex: 0 0 33px;
    text-align: right;
}

/* Column dividers */
.b2-divider-1 {
    position: absolute;
    left: 267px;
    top: 5px;
    width: 4px;
    height: 116px;
    background: #1E1E19;
}

.b2-divider-2 {
    position: absolute;
    left: 572px;
    top: 5px;
    width: 2px;
    height: 116px;
    background: #320D2E;
}

.b2-right-border {
    position: absolute;
    left: 821px;  /* 863px page - 42px content */
    top: 5px;
    width: 4px;
    height: 116px;
    background: #C8E6D2;
}
